version: "3"
services:
  # client:
  #   build:
  #     context: ./client
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - server
  #   volumes:
  #     - ./client:/app/
  #     - /app/node_modules
  server:
    build:
      context: ./server
    ports:
      - "5000:5000"
      - "5001:5001"
    depends_on:
      - database
    volumes:
      - ./server:/app/
      - /app/node_modules
  database:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongodb:/data/db
      - ./db/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
volumes:
  mongodb:
